
.fullpage {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-content: stretch;
  align-items: center;
  width: 400px;
  height: 800px;
  border-style:solid;
  border-color:green;
  background-color:blue;
  min-height: 100%;
}

.wrapper {
    background: 'gray';
    margin: "0px";
    height: "1000px";
}


.corepanels: {
  flex-direction: row;
  margin: 30;
  flex:"1 1 auto";
} 

@media (max-width: 500px) {
  .corepanels {
    flex-direction: column;
  } 
}